.container{
    height: 100%;
    width: 100%;
    background-color: #525252;
}

.bubblesortContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 90%;
    width: 100%;
}
