.stab{
  /* transition: 0.5s; */
  background-color: white;
  padding: 15px 15px;
  border: 3.5px solid white;
  margin: 10px;
  min-height: 25px;
  width: 20px;
}

.thomas{
  background-color: red;
  animation: driveThomas 0.1s 0.4s normal forwards;
}

.willLinks{
  background-color: green;
  animation: driveWillLinks 0.1s 0.4s normal forwards;
}

@keyframes driveThomas{
  from{transform:translateX(0px)}
  to{transform:translateX(77px)}
}

@keyframes driveWillLinks{
  from{transform:translateX(0px)}
  to{transform:translateX(-77px)}
}

.white{
  background-color: white;
  /* transition: .5s; */
}
