.container{
    height: 100vh;
    width: 100vw;
    background-color: #525252;
}

.stabContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 90%;
    width: 100%;
}

.stabContainerButton{
    display: flex;
    justify-content: center;
}